body {font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;}

h1 {color: white;}
.cta {color: aquamarine;}
h2 {color:white;}
p {color: grey;}
.footer {color: grey;
text-align: right;}
